<div class="container">
  <h1>{{message}}</h1>
  <p>You really thought that would work LMAO</p>
  <iframe
    id="ytplayer"
    type="text/html"
    width="640"
    height="360"
    src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1"
    frameborder="0"
  ></iframe>
  <h2>{{error.status}}</h2>
  <pre>{{error.stack}}</pre>
</div>