<div class="container">
	<div class="row justify-content-center align-items-center vh-100">
		<div class="container-fluid">
			<div class="card shadow bg-dark">
				<div class="card-body">
					<h2>Hi there</h2>
					<h3>Enter admin password to enter</h3>
					<input type="password" class="form-control"/>
					<a href="/admin" class="btn btn-primary btn-lg mt-4">Login</a>
				</div>
			</div>
		</div>
	</div>
</div>